/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Footer Styles */
.footer {
  width: 100%;
  background-image: linear-gradient(to right, rgba(61, 60, 60, 0.4), rgba(245, 242, 242, 0));
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1.8rem;
  border-top: 2px solid #c71616;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo-asper {
  width: 250px;
  height: auto;
  margin-bottom: 1rem;
}

.social-icon,
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.social-icon__item {
  margin: 0 10px;
}

.social-icon__link {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  transition: transform 0.3s, color 0.3s;
}

.social-icon__link:hover {
  transform: translateY(-5px);
  color: #c71616; /* Añadir color de hover */
}

.menu__item {
  margin: 0 10px;
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: font-size 0.3s, color 0.3s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  color: #c71616; /* Añadir color de hover */
  opacity: 1;
}

/* Responsivo */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .social-icon,
  .menu {
    flex-direction: column;
    align-items: center;
  }

  .social-icon__item,
  .menu__item {
    margin: 5px 0;
  }

  .logo-asper {
    width: 200px;
    margin-bottom: 1rem;
  }
}


/*Smooth */

