<footer class="footer">
  
  <ul class="menu">
    <li>
      <img class="logo-asper" src="../../assets/imagenes/asper-bco.png" alt="Logo">
    </li>
    <li class="menu__item"><a class="menu__link"  a routerLink="">Home</a></li>
    <li class="menu__item"><a class="menu__link"  a routerLink="/nosotros">Nosotros</a></li>
    <li class="menu__item"><a class="menu__link" a routerLink="/servicios">Servicios</a></li>
  </ul>
  <p>&copy;2024 <a href="https://www.linkedin.com/in/c%C3%A9sar-fernando-a-5579a8154/" target="_blank"> Fernando Guerra Web Developer </a> | All Rights Reserved</p>
</footer>
