/* slider.component.css */
.simple-slider {
  position: relative;
  width: 100%;
  height: 80vh; /* Ajusta esto según tus necesidades */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto; /* Añade margen para centrar el slider */
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  cursor: pointer; /* Indica que el elemento es clicable */
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
  display: none; /* Ocultamos las diapositivas por defecto */
}

.slide.active {
  display: block; /* Mostramos solo la diapositiva activa */
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Hace que la imagen ocupe todo el contenedor sin distorsionarse */
  display: block; /* Asegura que la imagen abarque todo el ancho */
}

.caption {
  position: absolute;
  top: 50%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Centra exactamente en el medio */
  color: #fff;
  /* background: rgba(0, 0, 0, 0.5); */
  height: 50%;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5rem; /* Ajusta el tamaño del texto */
  width: 100%; /* Asegura que el texto no se desborde */
}

@media (max-width: 768px) {
  .caption {
    font-size: 1em; /* Ajusta el tamaño del texto para dispositivos más pequeños */
    padding: 5px 10px;
    width: 80%; /* Ajusta el ancho para dispositivos más pequeños */
  }
}
