 

.split-slideshow {
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.slideshow {
  width: 50vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider * {
  outline: none;
}

.item {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  border: none;
}

.item img {
  min-width: 101%;
  min-height: 101%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slick-dots {
  position: fixed;
  z-index: 100;
  width: 40px;
  height: auto;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: #fff;
  display: block;
}

.slick-dots li {
  display: block;
  width: 100%;
  height: auto;
}

.slick-dots li button {
  position: relative;
  width: 20px;
  height: 15px;
  text-align: center;
}

.slick-dots li button:before {
  content: "";
  background: #fff;
  color: #fff;
  height: 2px;
  width: 20px;
  border-radius: 0;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  opacity: 0.6;
}

.slick-dots li.slick-active button:before {
  width: 40px;
  opacity: 1;
}

.slideshow-right {
  width: 50vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  pointer-events: none;
}

.slideshow-right .slider {
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
}

.slideshow-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 80px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
  pointer-events: none;
  text-transform: uppercase;
  letter-spacing: 20px;
  line-height: 0.8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 767px) {
  .slideshow-text {
    font-size: 40px;
  }
}

.the-most {
  bottom: 0;
  left: 0%;
  width: 2000vw;
  max-width: auto;
  padding: 10px;
  border:rgb(192, 12, 12) 3px solid;
  z-index: 1;
  height: fit-content;
}

.the-most img {
  max-width: 100%;
}
