/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    color: white;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 2px solid white;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100vw;
    border: 3px solid salmon;
    padding: 1rem;
    gap: 1rem;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.encabezado1 {
    width: 100%;
    border: 3px solid blue;
}

.encabezado {
    color: aqua;
    font-size: 2rem;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}
.parrafo1 {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin: 1rem 0;
    color: #f0f0f0;
    padding: 1rem;
    background-color: #2c2c2c;
    border-radius: 8px;
}

.parrafo1 strong {
    color: #ffcc00; /* Color para resaltar texto */
    font-weight: bold;
}

.parrafo1 em {
    color: #ffcc00; /* Color para resaltar texto */
    font-style: italic;
}

.nosotros {
    flex: 1;
    display: flex;
    justify-content: center;
    border: 3px solid yellow;
}

.foto-nosotros {
    max-width: 100%;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

.foto-nosotros:hover {
    transform: scale(1.05);
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .encabezado {
        font-size: 1.8rem;
    }
    
    .parrafo {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    
    .encabezado {
        font-size: 1.6rem;
    }
    
    .parrafo {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .encabezado {
        font-size: 1.4rem;
    }
    
    .parrafo {
        font-size: 1rem;
    }
    
    .foto-nosotros {
        width: 100%;
    }
}
