/* General Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Sección Nosotros */
  .section-nosotros {
    background-color:rgba(0, 0, 0, 0.1); /* Color de fondo claro */
    color: #333; /* Color del texto */
    padding: 2rem 0;
  }
  
  .container-nosotros {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .imagen-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  
  .imagen {
    max-height: 400px;
    width: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contenido-texto {
    flex: 1;
    text-align: center;
    margin-top: 2rem;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #1a202c; /* Color del texto del título */
    margin-bottom: 1rem;
  }
  
  .introduccion {
    font-size: 1.2rem;
    color: #4a5568; /* Color del texto de la introducción */
    margin-bottom: 2rem;
    line-height: 1.6;
  }
  
  .botones {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .btn-contacto, .btn-servicios {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn-contacto {
    background-color: #3182ce; /* Color azul para el botón de contacto */
    color: #fff;
  }
  
  .btn-servicios {
    background-color: #e2e8f0; /* Color claro para el botón de servicios */
    color: #2d3748;
  }
  
  .btn-contacto:hover {
    background-color: #2b6cb0;
  }
  
  .btn-servicios:hover {
    background-color: #cbd5e0;
  }
  
  /* Responsive Styles */
  @media (max-width: 1024px) {
    .container-nosotros {
      flex-direction: column;
      text-align: center;
    }
    
    .imagen-container, .contenido-texto {
      width: 100%;
      margin-top: 2rem;
    }
    
    .contenido-texto {
      text-align: center;
    }
    
    h1 {
      font-size: 2rem;
    }
  
    .introduccion {
      font-size: 1.1rem;
    }
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 1.8rem;
    }
  
    .introduccion {
      font-size: 1rem;
    }
  
    .imagen {
      max-height: 300px;
    }
    
    .botones {
      flex-direction: column;
      gap: 0.5rem;
    }
  
    .btn-contacto, .btn-servicios {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 1.5rem;
    }
  
    .introduccion {
      font-size: 0.9rem;
    }
  
    .imagen {
      max-height: 200px;
    }
  }
  