/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 0.5rem 1rem;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-asper {
  width: 200px;
  height: auto;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin-left: auto;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links li a {
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.4rem;
  transition: background-color 0.3s, font-size 0.3s;
}

.nav-links li a:hover {
  background-color: rgba(103, 104, 101, 0.54);
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.8rem;
}

/* Hamburger Menu Styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 0.5rem;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    left: -100%; /* Ocultar por defecto */
    width: 100%;
    flex-direction: column;
    background-color: rgba(131, 14, 14, 0.9);
    border-radius: 10px;
    padding: 1rem;
    margin-top: 2.8rem;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
  }

  .nav-links.active {
    left: 0; /* Mostrar cuando active */
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  .nav-links li {
    margin: 15px 0;
  }

  .nav-links li a {
    background: rgba(155, 11, 11, 0.1);
    border-radius: 12px;
    padding: 10px 20px;
    transition: background 0.3s, transform 0.3s;
  }

  .nav-links li a:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
  }

  .hamburger {
    display: flex;
  }
}
