<!-- navbar.component.html -->
<nav>
    <div class="logo-container">
      <a routerLink="">
        <img class="logo-asper" src="../../assets/imagenes/asper-bco.png" alt="Logo">
      </a>
    </div>
  
    <div class="hamburger" (click)="toggleMenu()">
      <div></div>
      <div></div>
      <div></div>
    </div>
  
    <ul class="nav-links" [class.active]="menuActive">
      <li><a routerLink="" (click)="closeMenu()">Home</a></li>
      <li><a routerLink="/nosotros" (click)="closeMenu()">Nosotros</a></li>
      <li><a routerLink="/servicios" (click)="closeMenu()">Servicios</a></li>
      <!-- <li><a routerLink="/contacto">Contacto</a></li> -->
    </ul>
  </nav>
  