/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Section Styles */
  .section {
    border: 1px red solid;
    height: 100vh;
  }
  
  .servicios {
    border: 2px white solid;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
  }
  
  .service-item-seguridad {
    color: wheat;
    border: 1px rebeccapurple solid;
    margin: 8px;
    background-image: url(/assets/imagenes/seguridad.png);
    background-size: cover;
    background-position: center;
    width: calc(50% - 16px);
    height: 25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    
  }
  .service-item-calidad {
    color: wheat;
    border: 1px rebeccapurple solid;
    margin: 8px;
    background-image: url(/assets/imagenes/calidad.jpg);
    background-size: cover;
    background-position: center;
    width: calc(50% - 16px);
    height: 25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .service-item-ingenieria {
    color: wheat;
    border: 1px rebeccapurple solid;
    margin: 8px;
    background-image: url(/assets/imagenes/ingenieria.png);
    background-size: cover;
    background-position: center;
    width: calc(50% - 16px);
    height: 25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .service-item-servicios{
    color: wheat;
    border: 1px rebeccapurple solid;
    margin: 8px;
    background-image: url(/assets/imagenes/servicios.jpeg);
    background-size: cover;
    background-position: center;
    width: calc(50% - 16px);
    height: 25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

 
  
  .service-item-seguridad, 
  .service-item-calidad, 
  .service-item-ingenieria, 
  .service-item-servicios {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .service-item-seguridad:hover,
  .service-item-calidad:hover,
  .service-item-ingenieria:hover,
  .service-item-servicios:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.4);
    color: wheat;

  }
  
  h1, h2, h3, p {
    line-height: 1.6;
  }
  
  .service-item-seguridad, 
  .service-item-calidad, 
  .service-item-ingenieria, 
  .service-item-servicios {
    font-size: 2rem;
    font-weight: bolder;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    color:black;
    
  }
  
  
  
  @media (max-width: 1024px) {
    .service-item {
      width: calc(50% - 16px);
    }
  }
  
  @media (max-width: 768px) {
    .service-item {
      width: calc(100% - 16px);
    }
  }
  
  /* Modal Styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal.show {
    display: block;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    text-align: center;
    
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .close-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .close-button:hover {
    background-color: #45a049;
  }
  
  /* Responsiveness */
@media (max-width: 1024px) {
  .service-item {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .service-item {
    font-size: 1.2rem;
    height: 20rem;
  }
}

@media (max-width: 480px) {
  .service-item {
    font-size: 1rem;
    height: 15rem;
  }
}


.modal ul {
  list-style: none;
  padding: 3px;
}

.modal ul li {
  margin: 10px 0;
}

.modal ul li a {
  text-decoration: none;
  color: #000205;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.modal ul li a:hover {
  text-decoration: none;
  color: #0056b3;
  cursor: pointer;
}
