
h1{
    display: flex;
    justify-content: center;
    margin: 2.2rem 0rem 0rem 0rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.2rem;
    z-index: 9;
    text-wrap: balance;
    line-height: 4rem;
}

.introduccion{
    border: 2px red solid;
    width: 50%;
    height: 30%;
    margin-top: 2rem;
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 1.8rem;
    text-align: center;
    justify-content: center;
    line-height: 2rem;
    align-items: center;
    margin-bottom: 0;
    text-wrap: balance;
}

.valor{
    display: flex;
    border:1px solid red;
    margin-top: 1.4rem;
    color: white;
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: center;
    text-wrap: balance;
    

}

.valor p{
    columns: 1;
    text-wrap: balance;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top:2.5rem;
    padding: 0;
  }
.container-home{

    margin-top: 0rem;
    border: 1px red solid;
    height: 100vh;
    width:100vw;
    background-image:url(/assets/imagenes/asper-banner.jpeg);
    /* background-blend-mode: color-burn; */
    background-size: cover;
    border-radius: 4px;
    margin-left: 0;
    

}

.banner{
    
background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(245, 242, 242, 0));
border-radius: 4px;
border: 2px pink solid;
height: 100vh;

}

.titulo{
    border: 2px royalblue solid;
    margin-top: 1.3rem;
    display: flex;
    flex-wrap: wrap ;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.2rem;
    align-items: center;
    text-align: center;
    
    }


    .encabezado{
        display: flex;
    margin-bottom:0;
    color: aliceblue;
    font-size: 1.2rem;
    height: 50vh;

    }


    .parrafo{
        display: grid;
        grid-template-columns: auto;
        height: auto;
        border: 1px rgb(63, 180, 39) solid;
        color: rgb(255, 255, 255);
        display: flex;
        flex-wrap: wrap;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2.2rem;
        line-height: 2.3rem;
        margin-top:-120px ;
        columns: 2;

    }


.foto2{
    background-size: contain;
}


.valor2{
    display: flex;
    flex-direction: row-reverse;
}

.valor2 p{
    color: wheat;
    text-justify: distribute-all-lines;
    font-size: 1.8rem;
    line-height: 2.2rem;
    display: flex;
    text-align: center;
}

.foto3{
    border: 1px yellow solid;
}