/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #460606;
}

/* Encabezado */
h1 {
  color: white;
  font-size: 4.2rem;
  line-height: 4rem;
  text-align: center;
  animation: fadeIn 2s ease-in-out;
  font-weight: 600;
  font-family: "Segoe UI", Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Introducción */
.introduccion {
  width: 80%;
  margin: 2rem auto;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: justify;
  font-weight: 400;
  text-shadow: 1px 1px 2px #000; /* Añadir un sutil efecto de sombra para mejor legibilidad */
  /* background: rgba(0,0,0,0.6 ); Fondo semi-transparente para mejor contraste */
  padding: 1rem; /* Espaciado interno para mejorar la presentación */
  border-radius: 8px; /* Bordes redondeados para un aspecto más suave */
  animation: fadeIn 2s ease-in-out 0.5s;
  animation-fill-mode: forwards;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar un efecto de elevación */
}
/* Contenedor Principal */
.container-home {
  height: 100vh;
  width: 100%;
  background-image: url(/assets/imagenes/pipol.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Necesario para el degradado */
}

/* Banner */
.banner {
  background: linear-gradient(to right, rgb(19, 18, 18), rgba(0, 0, 0, 0));
  background-size: cover;
  height: 100%;
  border-radius: 4px;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  padding: 0rem;
  border-radius: 4px;
  width: 70%;
  text-align: left;
  margin-left: -12rem;
}

/* Sección de Valor */
.valor,
.valor2,
.valor3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0));
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 8px;
  max-width: 100%;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  color: white; /* Asegura que el texto sea blanco */
  animation: fadeIn 2s ease-in-out;
  font-size: 1.6rem;
}

.valor h3,
.valor2 h3,
.valor3 h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  color: white; /* Asegura que el texto sea blanco */
}

/* Textos de Valor */
.valor p,
.valor2 p,
.valor3 p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-right: 2rem;
  text-align: justify;
  width: 55%;
  color: white; /* Asegura que el texto sea blanco */
}

/* Imágenes */
.foto2,
.foto3,
.foto4 {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.foto2:hover,
.foto3:hover,
.foto4:hover {
  transform: scale(1.05);
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .introduccion,
  .valor,
  .valor2,
  .valor3 {
    width: 85%;
  }
  h1 {
    font-size: 3.6rem;
  }
  .introduccion {
    font-size: 1.4rem;
  }
  .valor p,
  .valor2 p,
  .valor3 p {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .container-home,
  .valor,
  .valor2,
  .valor3 {
    text-align: center;
  }
  .introduccion,
  .valor p,
  .valor2 p,
  .valor3 p {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 2.8rem;
  }
  .introduccion,
  .valor p,
  .valor2 p,
  .valor3 p {
    width: 90%;
  }
  .valor,
  .valor2,
  .valor3 {
    flex-direction: column;
    padding: 1.5rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.4rem;
  }
  .introduccion,
  .valor p,
  .valor2 p,
  .valor3 p {
    font-size: 1rem;
  }
}
