.contact-toggle {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  right: -50px;
  top: 50%;
  background-color: #ff5e00;
  color: white;
  padding: 20px;
  cursor: pointer;
  font-size: 1.3rem;
  font-family:Arial, Helvetica, sans-serif;
  font-stretch: expanded;
  border-radius: 10px ;
  transition: right 0. 6 ease-in;
  transform: rotate(90deg);
}

.contact-toggle:hover{
    right: -30px;
}

.contact-form {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 500px;
  background-color: rgba(10, 10, 10, 0.4);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  transition: transform 0.3s ease;
  transform: translateX(100%);
  font-family: Arial, Helvetica, sans-serif;
}

.contact-form.hidden {
  transform: translateX(100%);
}

.contact-form:not(.hidden) {
  transform: translateX(0%);
}

.form-group {
  margin-bottom: 20px;
}

.form-group h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #007bff;
}

.form-group div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ec0d0d;
  border-radius: 4px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button[type="submit"],
button[type="button"] {
  background-color: #ff5e00;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #e04d00;
}
