.normas-organizacionales {
    padding: 20px;
    background: rgba(255, 255, 255, 0.1); /* Blanco transparente */
    border-radius: 10px;
    margin: 10px;
    height: 100dvh;

  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .normas-lista {
    list-style: none;
    padding: 0;
  }
  
  .norma-item {
    display: block; /* Para que los enlaces ocupen todo el ancho del contenedor */
    padding: 10px 15px;
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    color: #000; /* Ajusta el color del texto */
    text-decoration: none; /* Quitar subrayado de los enlaces */
    transition: all 0.3s ease;
  }
  
  .norma-item:hover {
    background: rgba(255, 255, 255, 0.9);
    transform: scale(1.05);
  }
  
  /* Media Queries para Responsividad */
  @media (max-width: 1200px) {
    .container {
      max-width: 90%;
    }
  }
  
  @media (max-width: 992px) {
    .container {
      max-width: 100%;
    }
  
    .norma-item {
      font-size: 16px;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      max-width: 100%;
    }
  
    .norma-item {
      font-size: 14px;
      padding: 8px 12px;
    }
  }
  
  @media (max-width: 576px) {
    .container {
      max-width: 100%;
    }
  
    .norma-item {
      font-size: 12px;
      padding: 6px 10px;
    }
  }
  