name: Deploy Asper to GitHub Pages

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Install Angular CLI
        run: npm install -g @angular/cli

      - name: Build
        # Esto se queda igual, el base-href es la URL del navegador, no la carpeta
        run: ng build --configuration production --base-href=/asper-page/

      - name: Copy index.html to 404.html
        # CORRECCIÓN AQUÍ: Cambiamos 'asper-page' por 'asper-pagina'
        run: cp dist/asper-pagina/browser/index.html dist/asper-pagina/browser/404.html

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          # CORRECCIÓN AQUÍ: Cambiamos 'asper-page' por 'asper-pagina'
          folder: dist/asper-pagina/browser
          branch: gh-pages
          clean: true